.analysis-card-title {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
  color: var(--blue);
}

.analysis-card-series{
  display: flex;
  justify-content: space-between;
  padding-bottom: .7rem;
  color: var(--blue);
}

.analysis-card-series-name{
  /* font-weight: 400; */
}

.analysis-card-value{
  min-width: 5rem;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: end;
  font-weight: 600;
}

.analysis-default-message{
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem;
  color: var(--mid-blue);
  width: 100%;
  text-align: center;
}