.sidebar-container {
  min-width: 36rem;
  /* width: 36rem; */
  width: 100%;
  height: 100%;
  background-color: var(--grey-2);
}

@media (min-width: 600px) {
  .sidebar-container {
    width: 36rem;
  }
}

.tab-content {
  padding: 1.5rem 1.5rem 0.5rem;
  background-color: var(--grey-2);
  height: calc(100vh - 14rem);
  overflow-y: auto;
}

.tab-content::-webkit-scrollbar {
  width: 1rem;
}

.tab-content::-webkit-scrollbar-track {
  background-color: var(--grey-2);
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: var(--grey-1);
  border-radius: 0.5rem;
}

.tab-content::-webkit-scrollbar-corner {
  background-color: var(--grey-2);
}

.tab-list {
  background-color: var(--grey-1);
  display: flex;
  height: 4rem;
  width: 100%;
}

.tab {
  align-items: center;
  border-bottom: 0.4rem solid transparent;
  color: var(--light-grey-2);
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  height: inherit;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 100%;
}

.tab.active {
  cursor: default;
  border-bottom-color: var(--teal);
  color: var(--teal);
}

/* .data-sources{ } */

/* .data-source-cards-container{ } */

.card-collapse-toggle {
  cursor: pointer;
  transition: all 0.25s ease-out;
  display: flex;
}

.collapsible-content {
  max-height: 0;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-end;
  transition: max-height 0.2s ease-in-out;
}

.collapsible-content.expanded {
  max-height: 100rem;
  transition: max-height 0.3s ease-in-out;
}

.collapsible-content-inner {
  width: 80%;
  padding-left: 0.8rem;
}

.active-series-container {
  width: 80%;
  margin-bottom: 1rem;
  margin-left: 20%;
}

.active-data-series {
  width: 100%;
  height: 2rem;
  /* background-color:purple; */
  padding: 0 0.5rem 0 1rem;
  color: var(--light);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-data-series-marker {
  display: flex;
  align-items: center;
}

.active-data-series .close-icon {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}

.active-data-series-line {
  width: 2rem;
  height: 0.2rem;
  margin-right: 0.5rem;
}

.active-data-series-spinner {
  margin-right: 0.5rem;
}

.card {
  /* background-color:white; */
  background-color: var(--grey-1);
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
}

.card-img-container {
  width: 20%;
}

.card-content {
  width: 80%;
  margin-left: 1rem;
}

.card-img {
  width: 100%;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.arrow-icon,
.search-icon {
  color: var(--light-grey-1);
}

.card-server-name {
  color: var(--light);
  font-family: 'Roboto Condensed';
  font-weight: 600;
  font-size: 1.6rem;
}

.card-server-description {
  color: var(--light-grey-1);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.tbt-form-label {
  color: var(--light);
  display: block;
  font-family: 'Roboto Condensed';
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.checkbox-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  color: var(--light);
  font-size: 1.4rem;
  display: block;
  cursor: pointer;
  padding-left: 2rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.checkbox {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  left: 0;
  background-color: transparent;
}

.tbt-form-input {
  width: 100%;
  margin-bottom: 1.5rem;
  height: 3.2rem;
  padding: 1rem;
  background-color: transparent;
  border: 0.1rem solid var(--light-grey-1);
  color: var(--light);
  font-size: 1.2rem;
}

.tbt-form-input::placeholder {
  color: var(--light-grey-2);
}

.tbt-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.tbt-button {
  background-color: var(--teal);
  border: none;
  border-radius: 0.4rem;
  color: white;
  text-transform: uppercase;
  width: 9rem;
  height: 3rem;
  font-family: 'Roboto Condensed';
  font-size: 1.2rem;
  font-weight: 600;
}

.tbt-button:hover {
  cursor: pointer;
}

.tbt-button:disabled {
  background-color: var(--light-grey-1);
  opacity: 0.75;
}
.tbt-button:disabled:hover {
  cursor: not-allowed;
}

.data-source-search {
  margin: 0 0 2rem;
  display: flex;
  border-bottom: 0.2rem solid var(--light-grey-1);
  align-items: center;
}

.data-source-search-input {
  width: 95%;
  border-width: 0;
  background-color: transparent;
  font-size: 1.4rem;
  height: 3.2rem;
  padding: 0 1rem;
}

.data-source-search-input::placeholder {
  color: var(--light-grey-1);
}

.data-source-request-error {
  color: var(--red);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.add-data-source-container {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 1rem 0 1rem 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  /* height: 3rem; */
  background-color: var(--grey-2);
}

.add-data-source {
  /* border: none; */
  border: 0.1rem solid var(--teal);
  background-color: transparent;
  height: 3rem;
  text-transform: uppercase;
  color: var(--teal);
  font-family: 'Roboto Condensed';
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 60rem) {
  .add-data-source-container {
    width: 34rem;
  }
}

.loading-data-series-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
