.nav-container{
  width:100%;
  background-color: var(--grey-1);
  height:6rem;
  position: absolute;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  border-bottom: .1rem solid var(--light-grey-2);
}

.nav-collinear-logo{
  height: 6rem;
  padding: 1.2rem;
  width: 100%;
  background-color: var(--light-grey-2);
}

@media (min-width: 600px) {
  .nav-collinear-logo{
    width: 36rem;
  }
}

.nav-item{
  padding: 0 1rem;
  cursor: pointer;
}